<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

              <h1 class="friend-list"> My friend List</h1>
              <!-- 顯示Friends的清單，panel包一個list-group  -->       
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong><%= @user.friends.count %> friends</strong></h3>
                </div>

               <ul class="list-group">
                   <% @all_friends.each do |friend| %>
                       <li class= "list-group-item">
                           <%= link_to user_path(friend) do %>
                           <%= image_tag(friend.avatar, height: 30,width: 30,class: "img-circle") %>
                           <%= friend.name %>
                           <% end %>
                       </li>
                    <%end%>
               </ul>
             </div>

     </div>
  </div>
</div>
