<div class="container">
  <div class="row">
    <div class="col-md-12 restaurant-intro">
       <h1><%= @restaurant.name %>'s Dashboard</h1>
       <hr>
        <div class="restaurant-intro details">
           <ul>
              <li>There are <%= @restaurant.comments.count%> restaurant comments</li>
              <li>The average price of this restaurant is $xxx</li>
              <li>There are <%=@restaurant.favorites_count%> collect this restaurant as their favorite</li>
           </ul>
        </div>
     </div>
   </div>
 </div>
