body {
  background:image-url("sky.jpg");
  background-size:cover;

}

.text-center img{
  height: 156.67px;
}
.nav-pills-center {
  text-align: center;

}

/*-- CSS ">"代表直接的小孩,此代表為nav-pills-center底下的li--*/
.nav-pills-center > li {
  float: none;
  display: inline-block;

}

.nav-pills > li > a {
  color: 	 #404040;
}

 h3 > a {color:  #cce0ff;
  }

.restaurant-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
}

.restaurant-item > a{
  color:inherit
}

.restaurant-item img {
  max-height: 180px;
  width: 100%;
}

.restaurant-item .caption {
  padding: 10px;
}

/* (section)user:show.html.erb --*/
.restaurant-details{
  display:inline-block;
  text-align: center;
}

     /*.restaurants-details 底下的直接div*/
.restaurant-details > div {
  height: 80px;
}

.restaurant-details img{
 height:100%;
} /*div容器高度已設為80px,讓圖片高度100%,寬度會隨著高度做等比例的變化*?

/*補充說明:
img被div所包住;  restaurant-details的容器div被設定高度為80px
後圖片又被.restaurant-details img設定為最高為容器的100%高度,所以就80px了*/
