body {
  background:image-url("sky.jpg");
  background-size:cover;

}

.nav-pills-center {
  text-align: center;

}

/*-- CSS ">"代表直接的小孩,此代表為nav-pills-center底下的li--*/
.nav-pills-center > li {
  float: none;
  display: inline-block;

}

.nav-pills > li > a {
  color: 	 #404040;
}

 h3 > a {color:  #cce0ff;
  }

.restaurant-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
}

.restaurant-item > a{
  color:inherit
}

.restaurant-item img {
  max-height: 180px;
  width: 100%;
}

.restaurant-item .caption {
  padding: 10px;
}
